.wyh_wrap{
	width:100%;
	height:auto;
	padding: 0.5rem 1rem 1.3rem 1rem;
	overflow: hidden;
	position: relative;
}
.wyh_wrap .wyh_til{
	width:100%;
	height:1.7rem;
}
.wyh_wrap .wyh_til>span{
	font-size: 0.7rem;
	float: left;
	padding: 0 0.5rem;
	display: block;
	line-height:1.7rem;
}
.color1{
	background: #cccccc;
}
.color3{
	background: #cccccc;
}
.wyh_underline{
	width:100%;
	height:0.08rem;
	background:#cccccc ;
	float: left;
	margin-top:0.05rem;
}
/*日程事务*/
.wyh_content{
	width:100%;
	height:auto;
	/*display: none;*/
}
.wyh_content .wyh_date{
	width:100%;
	height:1.4rem;
	margin-top:0.7rem;
	border:1px solid black;
	font-size: 0.6rem;
}
.wyh_content .wyh_date>span{
	float: left;
	height:1.4rem;
	text-align: center;
	border-right:1px solid black;
	line-height: 1.4rem;
	border-radius: 0.1rem;
}
.wyh_content .wyh_date>span:nth-child(1){
	width:28%;
}
.wyh_content .wyh_date>span:nth-child(2){
	width:52%;
}
.wyh_content .wyh_date>span:nth-child(3){
	width:20%;
	border-right:none;
}
.wyh_task{
	width:100%;
	height:1.4rem;
	border:1px solid black;
	border-top:none;
	font-size: 0.6rem;
}
.wyh_task>li{
	float: left;
	height:1.4rem;
	text-align: center;
	border-right:1px solid black;
	line-height: 1.4rem;
	border-top:none;
}
.wyh_task>li:nth-child(1){
	width:28%;
}
.wyh_task>li:nth-child(2){
	width:52%;
}
.wyh_task>li:nth-child(3){
	width:20%;
	border-right:none;
}
/*任务分配*/
.wyh_taskfp{
	width:100%;
	height:auto;
	background: #f3f3f3;
	padding:0 0.5rem;
}
.wyh_taskfp>.wyh_dat{
	padding:2rem 0 2rem 0;
}
.wyh_dat>span{
	font-size: 0.8rem;
	margin-right:1rem;
}
.wyh_dat>.wyh_zhuyiSq{
	/*color:orangered;
	float: right;
	line-height:2rem;
	font-size: 0.6rem;*/
	display: none;
}
.wyh_dat>.wyh_zhuyi{
	color:orangered;
	float: right;
	line-height:2rem;
	font-size: 0.6rem;
}
.wyh_dat>.wyh_tim{
	border: white 1px solid;
	width:7rem;
	font-size: 0.7rem;
	background: white;
	border-radius: 0.2rem;
}
.wyh_taskfp>.wyh_cont{
	padding:1rem 0;
	overflow: hidden;
}
.wyh_cont>span{
	font-size: 0.8rem;
	margin-right:1rem;
	display: block;
	float: left;
}
.wyh_cont>textarea{
	width:7.5rem;
	height:4rem;
	background: white;
	border-radius: 0.2rem;
	border:none;
	float: left;
}
.wyh_taskfp>.wyh_Ren{
	padding:1rem 0;
	overflow: hidden;
}
.wyh_Ren>span{
	font-size: 0.8rem;
	margin-right:1.2rem;
	display: block;
	float: left;
}
.wyh_Ren>.wyh_peopl{
	float: left;
	width:6rem;
	height:1.2rem;
	border-radius: 0.2rem;
	border:white 1px solid;
}
.wyh_taskfp>.wyh_save{
	padding:3rem 0 4.5rem 0;
	height:2rem;
}
.wyh_save>.sav_wyh{
	width:3rem;
	float: right;
}


/*提交警告*/
.wyh_tscgcss{
	width: 40%;
	height: 2rem;
	background: #252628;
	border-radius: 0.5rem;
	font-size: 1rem;
	text-align: center;
	line-height: 2rem;
	color: white;
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	/*margin-left: -50%;*/
	/*opacity: 1;*/
	/*transition: 1.5s;*/
}
