.wyh_wrap{
	width:100%;
	height:auto;
	padding: 0.5rem 1rem 1.3rem 1rem;
}
.wyh_wrap .wyh_til{
	width:100%;
	height:1.7rem;
}
.wyh_wrap .wyh_til>span{
	font-size: 0.7rem;
	float: left;
	padding: 0 0.5rem;
	display: block;
	line-height:1.7rem;
}
.color1{
	background: #cccccc;
}
.color3{
	background: #cccccc;
}
.wyh_underline{
	width:100%;
	height:0.08rem;
	background:#cccccc ;
	float: left;
	margin-top:0.05rem;
}
/*日程事务*/
.wyh_content{
	width:100%;
	height:auto;
	/*display: none;*/
}
.wyh_content .wyh_date{
	width:100%;
	height:1.4rem;
	margin-top:0.7rem;
	border:1px solid black;
	font-size: 0.6rem;
}
.wyh_content .wyh_date>span{
	float: left;
	height:1.4rem;
	text-align: center;
	border-right:1px solid black;
	line-height: 1.4rem;
	border-radius: 0.1rem;
}
.wyh_content .wyh_date>span:nth-child(1){
	width:28%;
}
.wyh_content .wyh_date>span:nth-child(2){
	width:52%;
}
.wyh_content .wyh_date>span:nth-child(3){
	width:20%;
	border-right:none;
}
.wyh_task{
	width:100%;
	height:1.4rem;
	border:1px solid black;
	border-top:none;
	font-size: 0.6rem;
}
.wyh_task>li{
	float: left;
	height:1.4rem;
	text-align: center;
	border-right:1px solid black;
	line-height: 1.4rem;
	border-top:none;
}
.wyh_task>li:nth-child(1){
	width:28%;
}
.wyh_task>li:nth-child(2){
	width:52%;
}
.wyh_task>li:nth-child(3){
	width:20%;
	border-right:none;
}
/*任务分配*/
.wyh_taskfp{
	width:100%;
	height:auto;
	background: #f3f3f3;
	padding:0 0.5rem;
}
.wyh_taskfp>.wyh_dat{
	padding:2rem 0 1rem 0;
}
.wyh_dat>span{
	font-size: 0.8rem;
	margin-right:1rem;
}
.wyh_dat>.wyh_tim{
	border: :none;
	width:7rem;
	font-size: 0.7rem;
	background: white;
	border-radius: 0.2rem;
}
.wyh_taskfp>.wyh_cont{
	padding:1rem 0;
	overflow: hidden;
}
.wyh_cont>span{
	font-size: 0.8rem;
	margin-right:1rem;
	display: block;
	float: left;
}
.wyh_cont>textarea{
	width:7.5rem;
	height:4rem;
	background: white;
	border-radius: 0.2rem;
	border:none;
	float: left;
}
.wyh_taskfp>.wyh_Ren{
	padding:1rem 0;
	overflow: hidden;
}
.wyh_Ren>span{
	font-size: 0.8rem;
	margin-right:1.2rem;
	display: block;
	float: left;
}
.wyh_Ren>.wyh_peopl{
	float: left;
	width:6rem;
	height:1.2rem
}
.wyh_taskfp>.wyh_save{
	padding:3rem 0 5rem 0;
	height:2rem;
}
.wyh_save>.sav_wyh{
	width:3rem;
	float: right;
}


/*.zhy_text{
	width: 100%;
	margin-top: 0.5rem;
	font-size: 0.8rem;
}
.zhy_text .zhy_li{
	width: 100%;
	overflow: hidden;
}
.zhy_text .zhy_li .zhy_li_left{
	float: left;
	width: 30%;
	text-align: center;
	line-height: 1.3rem;
}
.zhy_text .zhy_li .zhy_li_right{
	float: left;
	width: 70%;
}
.zhy_text .zhy_li .zhy_li_right input{
	width: 100%;
	height: 100%;
	background: none;
	border: none;
	outline: none;
	font-size: 0.8rem;
	padding: 0.2rem 0;
	border-bottom:0.1rem solid #ccc;
}
.zhy_text .zhy_li:nth-child(2){
	margin-top: 0.7rem;
}

.zhy_text .zhy_li:nth-child(3){
	margin-top: 1rem;
}
.zhy_text .zhy_li:nth-child(3) .zhy_li_right textarea{
	width: 100%;
	height: 5rem;
	border: 1px solid #ccc;
}
.zhy_text .zhy_li:nth-child(4){
	margin-top: 1rem;
}
.zhy_text .zhy_li:nth-child(4) .zhy_li_right textarea{
	width: 100%;
	height: 8rem;
	border: 1px solid #ccc;
}*/





/*.wyh_taskfp>.taskfp_til{
	width:100%;
	height:1.4rem;
	margin-top:0.7rem;
	border:1px solid black;
	font-size: 0.6rem;
}
.wyh_taskfp>.taskfp_til>span{
	float: left;
	height:1.4rem;
	text-align: center;
	border-right:1px solid black;
	line-height: 1.4rem;
}
.wyh_taskfp>.taskfp_til>span:nth-child(1){
	width:28%;
}
.wyh_taskfp>.taskfp_til>span:nth-child(2){
	width:52%;
}
.wyh_taskfp>.taskfp_til>span:nth-child(3){
	width:20%;
	border-right:none;
}
.wyh_taskfp>.allul2{
	width:100%;
	height:auto;
}
.wyh_taskfp>.allul2 .taskfp_cont{
	width:100%;
	height:1.4rem;
	border:1px solid black;
	border-top:none;
	font-size: 0.6rem;
}
.wyh_taskfp>.allul2 .taskfp_cont>li{
	float: left;
	height:1.4rem;
	text-align: center;
	border-right:1px solid black;
	line-height: 1.4rem;
	border-top:none;
}
.wyh_taskfp>.allul2 .taskfp_cont>li:nth-child(1){
	width:28%;
}
.wyh_taskfp>.allul2 .taskfp_cont>li:nth-child(2){
	width:52%;
}
.wyh_taskfp>.allul2 .taskfp_cont>li:nth-child(3){
	width:20%;
	border-right:none;
}
.wyh_taskfp>.allul2 .taskfp_cont>li:nth-child(1)>.form-control,.wyh_taskfp>.allul2 .taskfp_cont>li:nth-child(2)>.form-control,.wyh_taskfp>.allul2 .taskfp_cont>li:nth-child(3)>.form-control{
	width:100%;
	height:100%;
	background: none;
	border:none;
	outline:none;
	text-align: center;
}
.wyh_save{
	margin-top:1rem ;
}
.wyh_save>.newadds{
	width:3rem;
	float: left;
}
.wyh_save>.sav_wyh{
	width:3rem;
	float: right;
}*/
.wyh_tan{
	width: 100%;
	height: 100%;
	line-height: 100%;
	font-size: 1rem;
	background: rgba(0,0,0,.6);
	text-align: center;
	position: absolute;
	padding-top: 10rem;
	color:white;
	top: 0;
	left: 0;
}
.wyh_tan>.wyh_sue{
	width:2.3rem;
	height:1.5rem;
	padding:0.3rem;
	line-height: 0.3rem;
	font-size: 0.7rem;
}
