.zhj_warEn{
	width:100%;
	height: 24rem;	
	padding-left: 1rem;
	padding-right: 1rem;
}
.zhj_headher{
	width: 100%;
	height: 2.5rem;
	float: left;
	text-align: center;
	line-height: 2.5rem;
	font-size: 1.5rem;
	color: rgba(255,255,255,0.9);
	text-shadow: 3px 0px 0px #000;
	margin-bottom: 8%;
	margin-top: 5%;
}
.zhj_Wname{
	width: 100%;
	height: 1.5rem;
	float: left;
	margin-top:2%;
	position: relative;
}
.zhj_Wname span{
	width: auto;
	height: auto;
	float: left;
	color: black;
	font-size: 0.7rem;
}
.zhj_Wname input{
	width: 60%;
	height: 0.6rem;
	padding: 0.5rem 0.2rem 0.5rem 0.2rem;
	border:none;
	border-radius: 0.2rem;
}
.zhj_Wname input::placeholder{
	color: rgba(0,0,0,0.7);
}
#zhj_enuser{
	width:auto;
	height: auto;
	position: absolute;
	top:0rem ;
	right:-0.8rem;
	color: red;
	font-size: 0.5rem;
	/*display: none;*/
}
#enPassWorld{
	width:3rem;
	height: 1rem;
	position: absolute;
	top:0rem;
	right:-0.5rem;
	color: red;
	font-size: 0.6rem;
	/*display:none;*/
}
#enPosition{
	width:auto;
	height: auto;
	position: absolute;
	top:0rem;
	right:-0.5rem;
	color: black;
	font-size: 0.6rem;
}
#zhiEmail{
	width:auto;
	height: auto;
	position: absolute;
	top:0rem;
	right:-0.8rem;
	color: red;
	font-size: 0.5rem;
}
#zhjPhone{
	width:auto;
	height: auto;
	position: absolute;
	top: 1rem;
	top:0rem;
	right:-0.8rem;
	color: red;
	font-size: 0.5rem;
	/*display:none;*/
}
#zhjqq{
	width:auto;
	height: auto;
	position: absolute;
	top:0rem;
	right:-0.9rem;
	color: red;
	font-size: 0.5rem;
}
#zhj_otherPhone{
	width:auto;
	height: auto;
	position: absolute;
	top:0rem;
	right:-0.8rem;
	color: red;
	font-size: 0.5rem;
}
#newName{
	width:auto;
	height: auto;
	position: absolute;
	top:0rem;
	right:-0.6rem;
	color: red;
	font-size: 0.5rem;
}
.zhj_opintions{
	width: 100%;
	height: auto;
	text-align: center;
}
.zhj_opintions p{
	float: left;
	display: inline-block;
	color: rgba(255,255,255,0.9);
    text-shadow: 2px 0px 0px #000;
    margin-left: 5%;
    margin-top: 1%;
}
.zhj_opintions p:nth-child(1){
	 margin-left: 21%;
}
.zhj_Wname:nth-child(2) span{
	width: auto;
	height: auto;
	float: left;
	color: rgba(255,255,255,0.9);
	text-shadow: 3px 0px 0px #000;
	font-size: 0.7rem;
}
.zhj_Wname:nth-child(2) input{
	width: 60%;
	height: 0.6rem;
	padding: 0.5rem 0 0.5rem 0.2rem;
	border-radius: 0.2rem;
}
.zhj_Wname:nth-child(3) span{
	width: auto;
	height: auto;
	float: left;
	color: rgba(255,255,255,0.9);
	text-shadow: 3px 0px 0px #000;
	font-size: 0.7rem;
}
.zhj_Wname:nth-child(3) input{
	width: 60%;
	height: 0.6rem;
	padding: 0.5rem 0 0.5rem 0.2rem;
	border-radius: 0.2rem;
}
.zhj_Wname:nth-child(4) span{
	width: auto;
	height: auto;
	float: left;
	color: rgba(255,255,255,0.9);
	text-shadow: 3px 0px 0px #000;
	font-size: 0.7rem;
}
.zhj_Wname:nth-child(4) input{
	display: inline-block;
	width: 60%;
	height: 0.6rem;
	padding: 0.5rem 0 0.5rem 0.2rem;
	border-radius: 0.2rem;
}
.zhj_Wname:nth-child(5) span{
	width: auto;
	height: auto;
	float: left;
	color: rgba(255,255,255,0.9);
	text-shadow: 3px 0px 0px #000;
	font-size: 0.7rem;
}
.zhj_Wname:nth-child(5) input{
	margin-left: 0.1rem;
	font-size: 0.6rem;
	height: 1rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	display: inline-block;
	float: left;
	margin-left: 0.3rem;
	width: 0.8rem;
	height: 0.8rem;
	margin-right: 0.2rem;
}
.zhj_Wname:nth-child(6) span{
	width: auto;
	height: auto;
	float: left;
	color: rgba(255,255,255,0.9);
	text-shadow: 3px 0px 0px #000;
	font-size: 0.7rem;
}
.zhj_Wname:nth-child(6) input{
	width: 60%;
	height: 0.6rem;
	padding: 0.5rem 0 0.5rem 0.2rem;
	border-radius: 0.2rem;
}
.zhj_Wname:nth-child(7) span{
	width: auto;
	height: auto;
	float: left;
	color: rgba(255,255,255,0.9);
	text-shadow: 3px 0px 0px #000;
	font-size: 0.7rem;
}
.zhj_Wname:nth-child(7) input{
	width: 55%;
	height: 0.6rem;
	padding: 0.5rem 0 0.5rem 0.2rem;
	border-radius: 0.2rem;
}
.zhj_Wname:nth-child(8) span{
	width: auto;
	height: auto;
	float: left;
	color: rgba(255,255,255,0.9);
	text-shadow: 3px 0px 0px #000;
	font-size: 0.7rem;
}
.zhj_Wname:nth-child(8) input{
	width:55%;
	height: 0.6rem;
	padding: 0.5rem 0 0.5rem 0.2rem;
	border-radius: 0.2rem;
}
.zhj_Wname:nth-child(9) span{
	width: auto;
	height: auto;
	float: left;
	color: rgba(255,255,255,0.9);
	text-shadow: 3px 0px 0px #000;
	font-size: 0.7rem;
}
.zhj_Wname:nth-child(9) input{
	width:62%;
	height: 0.6rem;
	padding: 0.5rem 0 0.5rem 0.2rem;
	border-radius: 0.2rem;
}
.zhj_Wname:nth-child(10) span{
	width: auto;
	height: auto;
	float: left;
	color: rgba(255,255,255,0.9);
	text-shadow: 3px 0px 0px #000;
	font-size: 0.7rem;
}
.zhj_Wname:nth-child(10) input{
	width:45%;
	height: 0.6rem;
	padding: 0.5rem 0 0.5rem 0.2rem;
	border-radius: 0.2rem;
}
.zhj_Wname:nth-child(11) span{
	width: auto;
	height: auto;
	float: left;
	color: rgba(255,255,255,0.9);
	text-shadow: 3px 0px 0px #000;
	font-size: 0.7rem;
}
.zhj_Wname:nth-child(11) textarea{
	margin-left: 0.3rem;
	width: 8rem;
	height: 3rem;
	float: left;
	outline-style: none;
	border:1px solid #252628;
	border-radius: 0.3rem;
	font-size: 0.5rem;
	text-align: left;
	padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}
.zhj_loginBar{
	width: 100%;
	height: 2rem;
	float: left;
	margin-top: 20%;
}
.zhj_loginBar button:nth-child(1){
	width: 26%;
	height: 2rem;
	outline: none;
	border: none;
	border-radius: 0.2rem;
	background: dodgerblue;
	font-size: 0.6rem;
	margin-left: 15%;
	font-size: 1rem;
	color: rgba(255,255,255,0.9);
	text-shadow: 2px 1px 1px #000;
}
.zhj_loginBar button:nth-child(2){
	width: 26%;
	height: 2rem;
	outline: none;
	border: none;
	border-radius: 0.2rem;
	background: dodgerblue;
	font-size: 0.6rem;
	margin-left: 15%;
	font-size: 1rem;
	color: rgba(255,255,255,0.9);
	text-shadow: 2px 1px 1px #000;
}




