.zhj_wrapper{
	width: 100%;
	height:28.4rem;
	background: url(../images/beijing.png) no-repeat;
	background-size: 100% 100%;
}
.zhj_welcome{
	width: 100%;
	height: 7rem;
	float: left;
	font-size: 2rem;
	text-align: center;
	line-height: 2.5rem;
	color:white;
	text-shadow: 2px 0px 0px #000;
	font-weight: bold;
	font-family: "blackadder itc";
	margin-top: 3rem;
	/*background: pink;*/	
}
.zhj_welcome img{
	width: 5.5rem;
	height: 6rem;
}
.zhj_loginName{
	width: 100%;
	height: 2rem;
	float: left;
	font-size: 1.5rem;
	text-align: center;
	line-height: 2rem;
	color:white;
	text-shadow: 2px 0px 0px #000;
	font-family: "blackadder itc";
	font-weight: bold;
	/*margin-bottom: 6%;*/
}
.wraUS{
	width: 100%;
	height: 1.7rem;
	float: left;
	margin-top:12%;
}
.wraUS:nth-child(3){
	margin-top: 14%;
}
.wraUS .zhj_userName{
	width:auto;
	height: 1.7rem;
	margin-left: 6%;
    float: left;
    font-size: 0.7rem;
    color:white;
    line-height: 1.7rem;
	text-shadow: 3px 0px 0px #000;
    font-weight: bold;
    font-family: "blackadder itc";
}
.wraUS input{
	display: inline-block;
	width:calc(100% - 30%);
	height: 0.7rem;
	padding: 0.8rem 0 0.8rem 0.4rem;
	float: left;
	font-size: 0.7rem;
	color: rgba(0,0,0,0.7);
	background: rgba(255,255,255,0.3);
}
.wraUS input:nth-child(1){
	position: relative;
}
#zhj_usename{
	width:auto;
	height:auto;
	position: absolute;
	right: 1rem;
	color: red;
	font-size: 0.6rem;
	margin-top: 0.4rem;
	margin-right: 0.2rem;
}
.wraUS:nth-child(2) .zhj_userName{
	width:auto;
	height: 1.7rem;
	margin-left: 6%;
    float: left;
    font-size: 0.7rem;
    color:white;
    line-height: 1.7rem;
	text-shadow: 3px 0px 0px #000;
    font-weight: bold;
    font-family: "blackadder itc";
}
.wraUS input::placeholder{
	color: rgba(0,0,0,0.6);
}
.wraUS:nth-child(2) input{
	display: inline-block;
	width:calc(100% - 30%);
	height: 0.7rem;
	padding: 0.8rem 0 0.8rem 0.4rem;
	float: left;
	font-size: 0.7rem;
	color: rgba(0,0,0,0.7);
	background: rgba(255,255,255,0.3);
	position: relative;
}
.wraUS:nth-child(2) input::placeholder{
	color: rgba(0,0,0,0.6);
}
.zhj_placeholder{
	color: rgba(0,0,0,0)!important;
}
.zhj_btnbtn{
	width: calc(100% - 70%);
	height: 2rem;
	font-size: 0.7rem;
	font-family: "blackadder itc";
	font-weight: bold;
	text-align: center;
	line-height: 1.5rem;
	margin-left: 36%;
	margin-top:12%;
	color:white;
	text-shadow: 3px 0px 0px #000;
}
.zhj_loginText{
	width: 100%;
	height: auto;	
	float: left;	
	text-align: center;
	margin-top: 4%;
}
.zhj_loginText a{
	text-shadow: 3px 0px 0px #000;
	color: white;
	font-size: 0.7rem;
	font-weight: bold;
	text-decoration:underline;
}
#zhj_placeholder{
	width: auto;
	height: auto;
	position: absolute;
	right: 1rem;
	color: red;
	font-size: 0.6rem;
	margin-top: 0.4rem;
	margin-right: 0.2rem;
}
.zhj_showder{
	width: 100%;
	height: 1rem;
	background: rgba(0,0,0,0.5);
}


















