.header-lhq{
	width: 100%;
	height: 1.7rem;
	font-size: 0.7rem;
	line-height:1.7rem;
	padding-left: 1rem;
	padding-right: 1rem;
}
.border{
	width: 90%;
	margin: 0 auto;
	height: 0.1rem;
	background: #ccc;
	border-radius: 1rem;
	margin-bottom: 0.8rem;
	/*margin-bottom: 1.5rem;*/
}

.header-lhq i{
	/*transform: scale(0.8);*/
	font-size: 1rem;
	vertical-align: middle;
	margin-right: 0.2rem;
}
.header-lhq span{
	font-size: 0.7rem;
	vertical-align: middle;
}
.lhq-center{
	width: 100%;
	height:auto;
	padding-left: 1rem;
	padding-right: 1rem;
}
.lhq-center-top{
	width: 100%;
	height: 1.4rem;
	border-bottom: 0.05rem solid #CCCCCC;
	border-top: 0.05rem solid #CCCCCC;
}
.lhq-center-top p{
	float: left;
}
.lhq-center-top p:nth-child(1){
	width:25%;
	height:1.3rem;
	text-align: center;
	line-height: 1.3rem;
	box-sizing: border-box;
	border-right: 0.05rem solid #ccc;
	border-left: 0.1rem solid #ccc;
	
}
.lhq-center-top p:nth-child(2){
	width:40%;
	height:1.3rem;
	text-align: center;
	line-height: 1.3rem;
	border-right: 0.05rem solid #ccc;
}
.lhq-center-top p:nth-child(3){
	width:35%;
	height:1.3rem;
	text-align: center;
	line-height: 1.3rem;
	border-right: 0.1rem solid #ccc;
}
.lhq-center>ul{
	width:100%;
	min-height: 15rem;
}
.lhq-center>ul li{
	width: 100%;
	height: 1.5rem;
	border-bottom: 0.05rem solid #CCCCCC;
}

.lhq-center>ul>li>div>span:nth-child(1){
	width: 25%;
	height: 1.5rem;
	line-height: 1.5rem;
	display: block;
	float: left;
	border-right: 0.05rem solid #ccc;
	border-left: 0.1rem solid #ccc;
	text-align: center;
	overflow: hidden;
}
.lhq-center>ul>li>div>span:nth-child(2){
	width: 40%;
	height: 1.5rem;
	line-height: 1.5rem;
	display: block;
	float: left;
	box-sizing: border-box;
	border-right: 0.05rem solid #ccc;
	text-align: center;
	overflow: hidden;
	
}
.lhq-center>ul>li>div>span:nth-child(3){
	width: 35%;
	height: 1.5rem;
	line-height: 1.5rem;
	display: block;
	float: left;
	border-right: 0.1rem solid #ccc;
	text-align: center;
	overflow: hidden;
	
}
.lhq-footer{
	width: 100%;
	height: 2rem;
	left: 0;
	overflow: hidden;
	margin-top: 2rem;
}
.lhq-footer>input:nth-child(1){
	width: 3.5rem;
	height: 1.5rem;
	outline-style: none;
	position: absolute;
	border: none;
	border-radius: 0.3rem;
	left: 17%;
	background:#0089D4;
	color:#FFFFFF;
	cursor: pointer;
}
.lhq-footer>input:nth-child(2){
	width: 3.5rem;
	height: 1.5rem;
	outline-style: none;
	position: absolute;
	right: 17%;
	background:#0089D4;
	color:#FFFFFF;
	border: none;
	border-radius: 0.3rem;
	cursor: pointer;
}
.lhq-center-one{
	width: 100%;
	height: 1rem;
	margin-bottom: 0.3rem;
}
.lhq-center-one span:nth-child(1){
	width:3.5rem;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	display: block;
	float: left;
	color: red;
	font-size: 0.7rem;
}
.lhq-center-one span:nth-child(2){
	width: 5rem;
	height: 1rem;
	line-height: 1rem;
	float: left;
	text-align: center;
	display: block;
	color: #000000;
}
.lhq-center-one span:nth-child(3){
	width: 5rem;
	height: 1rem;
	line-height: 1rem;
	float: left;
	text-align: center;
	display: block;
	color: #000000;
}

.lhq_blue{
	color:#004080;
}
.lhq_black{
	color: #000000;
}
.lhq-login{
	width: 6rem;
	height: 6rem;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	
}
.lhq-login p{
	width: 100%;
	height: 1rem;
	text-align: center;
	line-height: 1rem;
	font-size: 1rem;
	
}
.lhq-login img{
	width: 3rem;
	height: 5rem;
	display: block;
	margin: 30% auto 0;
	transform: translateY(-30%);
}
