.lhqWrapper {
	width: 100%;
	height: 100%;
	position: relative;
}
.header-lhq{
	width: 100%;
	height: 1.7rem;
	font-size: 0.7rem;
	line-height:1.7rem;
	padding-left: 1rem;
	padding-right: 1rem;
}
.xq-border{
	width: 90%;
	margin: 0 auto;
	height: 0.1rem;
	background: #ccc;
	border-radius: 1rem;
	margin-bottom: 0.5rem;
}

.header-lhq i{
	font-size: 1rem;
	vertical-align: middle;
	margin-right: 0.2rem;
}
.header-lhq span{
	font-size: 0.7rem;
}
.xq-top{
	width: 100%;
	min-height: 6rem;
}
.xq-top p{
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	height: 1rem;
	line-height: 1rem;
	margin-top: 0.6rem;
}
.xq-top p i{
	list-style: none;
	font-style: normal;
	/*border-bottom: 0.1rem solid #CCCCCC;*/
}
.xq-top p:nth-child(1) span{
	font-size: 0.7rem;
	display: block;
	float: left;
	margin-right: 0.3rem;
}
.xq-top p:nth-child(1) i{
	display: block;
	float: left;
	width: auto;
	min-width: 5rem;
	height: 1rem;
	font-size: 0.6rem;
	border-radius:0.3rem;
	line-height: 1rem;
	text-indent: 0.5em;
}
.xq-top p:nth-child(2) span{
	font-size: 0.7rem;
	display: block;
	float: left;
	margin-right: 0.3rem;
}
.xq-top p:nth-child(2) i{
	display: block;
	float: left;
	width: auto;
	min-width: 5rem;
	word-break: break-all;
	height: 1rem;
	border-radius:0.3rem;
	font-size: 0.6rem;
	line-height: 1rem;
	text-indent: 0.5em;
	
}
.xq-top p:nth-child(3) span{
	font-size: 0.7rem;
	display: block;
	float: left;
	margin-right: 0.3rem;
}
.xq-top p:nth-child(3) i{
	display: block;
	float: left;
	width: auto;
	min-width: 5rem;
	word-break: break-all;
	height: 1rem;
	border-radius:0.3rem;
	font-size: 0.6rem;
	line-height: 1rem;
	text-indent: 0.5em;
	
}
.xq-top p:nth-child(4) span{
	font-size: 0.7rem;
	display: block;
	float: left;
	margin-right: 0.3rem;
}
.xq-top p:nth-child(4) i{
	display: block;
	float: left;
	width: auto;
	min-width: 5rem;
	max-width: 10rem;
	word-break: break-all;
	min-height: 1rem;
	height: auto;
	border-radius:0.3rem;
	font-size: 0.6rem;
	line-height: 1rem;
	text-indent: 0.5em;
	
}
.xq-btnn{
	width: 3rem;
	height: 1.1rem;
	line-height: 1.1rem;
	text-align: center;
	background:#337AB7;
	color: #FFFFFF;
	outline-style: none;
	font-size: 0.7rem;
	border: none;
	border-radius: 0.2rem;
	float: right;
	margin-right: 1rem;
	margin-top: 0.8rem;
}
.xqq-btnn{
	width: 3rem;
	height: 1.1rem;
	line-height: 1.1rem;
	text-align: center;
	background:#337AB7;
	color: #FFFFFF;
	outline-style: none;
	font-size: 0.7rem;
	border: none;
	border-radius: 0.2rem;
	float: right;
	margin-right: 1rem;
	margin-top: 0.7rem;
}
.xq-bottom{
	width: 100%;
	min-height: 6rem;
	clear: both;
	overflow: hidden;
}
.xq-bottom p{
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	height: 1rem;
	line-height: 1rem;
	margin-top: 0.6rem;
}
.xq-bottom p:nth-child(1) span{
		font-size: 0.7rem;
		float: left;
}
.xq-bottom p:nth-child(1) i{
	margin-left: 0.1rem;
	font-size: 0.6rem;
	height: 1rem;
	line-height: 1rem;
	width: 4.7rem;
	display: inline-block;
	float: left;
	margin-left: 0.3rem;
	outline-style: none;
	border: none;
	border-radius: 0.3rem;
	border-bottom: 0.1rem solid #CCCCCC;
	background: #FFFFFF;
	text-indent: 0.5em;
	font-style: normal;
	
}
.xq-bottom p:nth-child(2) span{
		font-size: 0.7rem;
		float: left;
}
.xq-bottom p:nth-child(2) i{
	margin-left: 0.1rem;
	font-size: 0.6rem;
	height:1rem;
	line-height: 1rem;
	font-style: normal;
	width: 4.7rem;
	display: inline-block;
	float: left;
	margin-left: 0.3rem;
	outline-style: none;
	border: none;
	background: #FFFFFF;
	border-radius: 0.3rem;
	border-bottom: 0.1rem solid #CCCCCC;
	text-indent: 0.5em;
	
}
.xq-bottom p:nth-child(3) span{
		font-size: 0.7rem;
		float: left;
}
.xq-bottom p:nth-child(3) input{
	margin-left: 0.1rem;
	font-size: 0.6rem;
	height: 0.5rem;
	padding-top: 0.45rem;
	padding-bottom: 0.45rem;
	width: 4.7rem;
	display: inline-block;
	float: left;
	margin-left: 0.3rem;
	outline-style: none;
	border: none;
	border-radius: 0.3rem;
	border-bottom: 0.1rem solid #CCCCCC;
	text-indent: 0.5em;
	
}
.xq-bottom p:nth-child(4){
	height: 2rem;
}
.xq-bottom p:nth-child(4) span{
		font-size: 0.7rem;
		float: left;
}
.xq-bottom p:nth-child(4) textarea{
	margin-left: 0.3rem;
	width: 4.7rem;
	outline-style: none;
	border: none;
	border-radius: 0.3rem;
	font-size: 0.6rem;
	border: 0.1rem solid #CCCCCC;
	text-indent: 0.5em;
}
.xq-bottom-btn{
	width: 3rem;
	height: 1.1rem;
	line-height: 1.1rem;
	text-align: center;
	background:#337AB7;
	color: #FFFFFF;
	outline-style: none;
	font-size: 0.6rem;
	border: none;
	border-radius: 0.2rem;
	float: right;
	margin-right: 1rem;
	margin-top: 1.5rem;
}

.lhq-zezao{
	width: 16rem;
	height: 100%;
	position: fixed;
	left: 8rem;
	top: 0;
	background: rgba(0,0,0,0.6);
	z-index: 999;
}
.lhq-zezaobox{
	width: 50%;
	height: 5rem;
	background: #FFFFFF;
	margin: 0 auto;
	margin-top: 60%;
	border-radius: 0.2rem;
}
.lhq-zezaobox i{
    font-size: 1rem;
    cursor: pointer;
    display: block;
    float: right;
    font-weight: 600;
}
.lhq-zezaobox p{
    font-size: 0.8rem;
	text-align: center;
	line-height: 1.3rem;
	color: #000000;
	font-weight: 600;
	clear: both;
}
.lhq-zezaobox span{
	width: 85%;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	font-size: 0.6rem;
	display: block;
	letter-spacing: 0.1rem;
	margin: 0 auto;
	color: #FFFFFF;
	margin-top: 0.3rem;
	background: #000000;
	cursor: pointer;
}
