.djs-info {
	width: 3rem;
	float: left;
	margin-left: 0.2rem;
	font-style: normal;
	font-size: 0.65rem;
}
.djs-inin {
	float: left;
}
.djsFoot {
	width: 100%;
	clear: both;
}
.djsBnt {
	float: right;
	margin-right: 2rem;
}
.xiaoqiang-left p:nth-child(5){
	height: 2rem;
}
.xiaoqiang-left p:nth-child(5)>i{
	overflow: scroll;
	height:2.5rem;
	display: block;
	width: 5rem;
}
