
.zhy_wrapper{
	width: 100%;
	height: 100%;
	padding: 0.5rem 1rem 1rem 1rem;
	background: #f3f3f3;
}
.zhy_title{
	width: 100%;
	height: 1.7rem;
	font-size: 0.7rem;
	
}
.zhy_title_left{
	text-align: center;
	line-height: 1.7rem;
	text-align: center;
	margin: 0;
	/*background: red;*/
	overflow: hidden;
}
.zhy_title_left .zhy_p1{
	padding: 0 0.5rem;
	float: left;
	
}
.zhy_title_left .zhy_p2{
	float: left;
	padding: 0 0.5rem;
}
.zhy-border{
	width: 100%;
	height: 0.1rem;
	background: #CCCCCC;
	border-radius: 1rem;
}



.zhy_text{
	width: 100%;
	margin-top: 0.5rem;
	font-size: 0.8rem;
}
.zhy_text .zhy_li{
	width: 100%;
	overflow: hidden;
}
.zhy_text .zhy_li .zhy_li_left{
	float: left;
	width: 30%;
	text-align: center;
	line-height: 1.3rem;
}
.zhy_text .zhy_li .zhy_li_right{
	float: left;
	width: 70%;
}
.zhy_text .zhy_li .zhy_li_right input{
	width: 100%;
	height: 100%;
	background: none;
	border: none;
	outline: none;
	font-size: 0.8rem;
	padding: 0.2rem 0;
	border-bottom:0.1rem solid #ccc;
}
.zhy_text .zhy_li:nth-child(2){
	margin-top: 0.7rem;
	overflow: hidden;
}
.zhy_text .zhy_li:nth-child(2) select{
	width: 80%;
	height: 100%;
	padding: 0.2rem 0;
	/*background: none;*/
	/*border: none;*/
	outline: none;
	font-size: 0.8rem;
	border:0.1rem solid #ccc;
}
.zhy_text .zhy_li:nth-child(2) select option{
	width: 10%;
}

.zhy_text .zhy_li:nth-child(3){
	margin-top: 1rem;
}
.zhy_text .zhy_li:nth-child(3) .zhy_li_right textarea{
	width: 100%;
	height: 5rem;
	border: 1px solid #ccc;
}
.zhy_text .zhy_li:nth-child(4){
	margin-top: 1rem;
}
.zhy_text .zhy_li:nth-child(4) .zhy_li_right textarea{
	width: 100%;
	height: 6.5rem;
	border: 1px solid #ccc;
}

.zhy_txt{
	width: 100%;
	margin-top: 0.5rem;
	font-size: 0.8rem;
}
.zhy_txt .zhy_li{
	width: 100%;
	overflow: hidden;
}
.zhy_txt .zhy_li .zhy_li_left{
	float: left;
	width: 30%;
	text-align: center;
	line-height: 1.3rem;
}
.zhy_txt .zhy_li .zhy_li_right{
	float: left;
	width: 70%;
}
.zhy_txt .zhy_li .zhy_li_right input{
	width: 100%;
	height: 100%;
	background: none;
	border: none;
	outline: none;
	font-size: 0.8rem;
	padding: 0.2rem 0;
	border-bottom: 0.1rem solid #ccc;
}
.zhy_txt .zhy_li:nth-child(2){
	margin-top: 0.7rem;
}
.zhy_txt .zhy_li:nth-child(2) select{
	width: 80%;
	height: 100%;
	padding: 0.2rem 0;
	/*background: none;*/
	/*border: none;*/
	outline: none;
	font-size: 0.8rem;
	border:0.1rem solid #ccc;
}

.zhy_txt .zhy_li:nth-child(3){
	margin-top: 1rem;
}
.zhy_txt .zhy_li:nth-child(3) .zhy_li_right textarea{
	width: 100%;
	height: 5rem;
	border: 1px solid #ccc;
}
.zhy_txt .zhy_li:nth-child(4){
	margin-top: 1rem;
}
.zhy_txt .zhy_li:nth-child(4) .zhy_li_right textarea{
	width: 100%;
	height: 6.5rem;
	border: 1px solid #ccc;
}


.zhy_foot1{
	width: 100%;
	text-align: right;
	margin-top: 2rem;
}
.zhy_foot2{
	width: 100%;
	text-align: right;
	margin-top: 2rem;
}
.zhy_mb{
	width: 100%;
	height: 8rem;
	line-height: 3rem;
	font-size: 1rem;
	background: rgba(255,255,255,0.7);
	text-align: center;
	position: absolute;
	top: 6rem;
	left: 0;
	/*display: none;*/
	
}
.zhy_bg1{
	background: #ccc;
}
.zhy_bg3{
	background: #ccc;
}


