.djs-content {
	width: 100%;
	height: 100%;
	padding: 0 1rem;
	background: #f3f3f3;
}
.djs-mintitle {
	width: 100%;
	height: 1.7rem;
	line-height: 1.7rem;
}
.djs-mintitle i {
	font-size: 1rem;
	vertical-align: middle;
	line-height: 1.7rem;
}
.djs-mintitle span {
	font-size: 0.7rem;
	margin-left: 0.2rem;
	line-height: 1.7rem;
}
.djs-border {
	width 100%;
	height: 0.1rem;
	background: #ccc;
	border-radius: 1rem;
}
.djs-bgcolor {
	width: 100%;
	margin-top: 1rem;
	overflow: hidden;
}
.djs-bgcolor li {
	width: 23.3%;
	height: 2rem;
	margin: 1.5rem 5% 0;
	float: left;
	text-align: center;
	line-height: 2rem;
	border-radius: 0.2rem;
}
.djs-bgcolor li:nth-child(1) {
	background: #7fff00;
}
.djs-bgcolor li:nth-child(2) {
	background: #00FFFF;
}
.djs-bgcolor li:nth-child(3) {
	background: #ff7f00;
}
.djs-bgcolor li:nth-child(4) {
	background: #bc1717;
	color: white;
}
.djs-bgcolor li:nth-child(5) {
	background: #4d4dff;
}
.djs-bgcolor li:nth-child(6) {
	background: #32cd32;
}
.djs-bgcolor li:nth-child(7) {
	background: yellow;
}
.djs-bgcolor li:nth-child(8) {
	background: #ff2400;
	color: white;
}
.djs-bgcolor li:nth-child(9) {
	background: #d9d9f3;
}
.djs-bgcolor li:nth-child(10) {
	background: #FF6EC7;
}
.djs-bgcolor li:nth-child(11) {
	background: #2F2F4F;
	color: white;
}
.djs-bgcolor li:nth-child(12) {
	background: #9370DB;
}
.djs-content .djs-button {
	margin-top: 3rem;
	float: right;
}



