.wyh_wrapper{
	width: 100%;
	height: 1.7rem;
	font-size: 0.7rem;
	line-height:1.7rem;
	/*background: #FFFFFF;*/
	padding:0 1rem 0 1rem;
	overflow: hidden;
}
.wyh_wrapper>div{
	float: left;
}
.wyh_wrapper>div i{
	font-size: 1rem;
	vertical-align: middle;
}
.wyh_wrapper>div span{
	font-size: 0.7rem;
}
.wyh_wrapper input{
	float: right;
	margin:0.35rem 0.2rem 0 0 ;
}
.wyh_wrapper .wyhadd {
	text-align: center;
	width:2.5rem;
	height:1.2rem;
	font-size: 0.6rem;
	font-weight: normal;
	line-height: 0.8rem;
}
.wyh_border{
	width: 90%;
	margin: 0 auto;
	height: 0.1rem;
	background: #ccc;
	border-radius: 1rem;
}
.wyh_search{
	width: 100%;
	padding:0 1rem 0 1rem;
	margin-top:0.7rem;
	float: left;
}
.wyh_search>div{
	float: left;
	font-size: 0.65rem;
}
.form-control{
	width:7rem;
	height:1rem;
	display: block;
	float: left;
}
.wyh_search .wyh_bbt{
	float: left;
	margin-left: 0.6rem;
	height:1.3rem;
	background: #5CB85C;
	color:white;
	width:2.2rem;
	font-size: 0.6rem;
	line-height: 0.7rem;
	margin-top:0;
}
.wyh_center{
	width: 100%;
	height:auto;
	padding:0 1rem 0 1rem;
	margin-top:0.7rem;
	float: left;
}
.wyh_titl{
	width:100%;
	height:1.4rem;
	border:1px solid black;
	font-size: 0.55rem;
}
.wyh_titl>span{
	float: left;
	text-align: center;
	border-right:1px solid black;
	line-height: 1.4rem;
}
.wyh_titl>span:first-child{
	width:13%;
}
.wyh_titl>span:nth-child(2){
	width:26%;
}
.wyh_titl>span:nth-child(3){
	width:34%;
}
.wyh_titl>span:nth-child(4){
	width:27%;
	border-right:none;
}
.wyh_allul{
	width:100%;
	min-height:14rem;
	/*overflow: hidden;*/
	
}
.wyh_center>.wyh_allul>.wyh_ul1{
	width:100%;
	height:1.4rem;
	border:1px solid black;
	border-top:none;
	font-size: 0.55rem;
	border-right:none;
	position: relative;
}
.wyh_center>.wyh_allul>.wyh_ul1>a{
	display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 666;
}
.wyh_center>.wyh_allul>.wyh_ul1>.djs-click{
	display: block;
}
.wyh_center>.wyh_allul>.wyh_ul1>li{
	float: left;
	height:1.4rem;
	text-align: center;
	border-right:1px solid black;
	line-height: 1.4rem;
	border-top:none;
}
.wyh_ul1>li:first-child{
	width:13%;
}
.wyh_ul1>li:nth-child(2){
	width:26%;
}
.wyh_ul1>li:nth-child(3){
	width:34%;
	overflow: hidden;
}
.wyh_ul1>li:nth-child(4){
	width:27%;
	
}
.wyh_ul1>li:nth-child(4)>button{
	height:1rem;
	display: block;
	font-size: 0.5rem;
	line-height: 0.55rem;
}
.wyh_abtn{
	margin:0.15rem 0 0 0.15rem;
	float: left;
	width:1.7rem;
}
.wyh_bbtn{
	margin:0.15rem 0 0 0.15rem;
	float: left;
	width:1.7rem;
}
.djs-xiayiye{
	width: 100%;
	height: 3rem;
	overflow: hidden;
	margin-top: 1rem;
}
.djs-xiayiye input:nth-child(1){
	float: left;
	margin-top: 1rem;
	margin-left: 1.5rem;
	width: 4rem;
	height: 1.3rem;
	background: #69CCFF;
	border:0;
	color: #FFFFFF;
	border-radius: 0.3rem;
}
.djs-xiayiye input:nth-child(2){
	float: right;
	margin-top: 1rem;
	margin-right: 1.5rem;
	width: 4rem;
	height: 1.3rem;
	background: #69CCFF;
	border:0;
	color: #FFFFFF;
	border-radius: 0.3rem;
}
.djsMeng {
	width: 50%;
	height: 6.5rem;
	background: #FFFFFF;
	margin: 0 auto;
	margin-top: 60%;
	border-radius: 0.2rem;
}
.djsMeng i{
    font-size: 1rem;
    cursor: pointer;
    display: block;
    float: right;
    font-weight: 600;
}
.djsMeng p{
    font-size: 0.8rem;
	text-align: center;
	line-height: 1.3rem;
	color: #000000;
	font-weight: 600;
	clear: both;
}
.djsMeng span{
	width: 85%;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	font-size: 0.6rem;
	display: block;
	letter-spacing: 0.1rem;
	margin: 0 auto;
	color: #FFFFFF;
	margin-top: 0.3rem;
	background: #000000;
	cursor: pointer;
}
.djsButton {
	display: block;
	margin: 0.5rem auto;
}
