.zhy_wra{
	width: 100%;
	height: 100%;
	padding: 0.5rem 1rem 1.3rem 1rem;
	background: #f3f3f3;
}
.zhy_tlt{
	width: 100%;
	height: 1.7rem;
	font-size: 0.7rem;
	line-height: 1.7rem;
	/*background: red;*/
}
.zhy_content{
	width: 100%;
	margin-top: 0.5rem;
	font-size: 0.8rem;
}
.zhy_content_li{
	width: 100%;
	overflow: hidden;
}
.zhy_content_li_l{
	float: left;
	width: 30%;
	text-align: center;
	line-height: 1.3rem;
}
.zhy_content_li_r{
	float: left;
	width: 70%;
}
.zhy_content_li_r input{
	width: 100%;
	height: 100%;
	background: none;
	border: none;
	outline: none;
	font-size: 0.8rem;
	padding: 0.2rem 0;
	border-bottom: 0.1rem solid #ccc;
}
/*.zhy_content_li:nth-child(1){
	margin-top: 0.2rem;
}*/

.zhy_content_li:nth-child(2){
	margin-top: 0.7rem;
}
.zhy_content_li:nth-child(3){
	margin-top: 1rem;
}
.zhy_content_li:nth-child(3) .zhy_content_li_r textarea{
	width: 100%;
	height: 5rem;
	border: 1px solid #ccc;
}
.zhy_content_li:nth-child(4){
	margin-top: 1rem;
}
.zhy_content_li:nth-child(4) .zhy_content_li_r input{
	width: 90%;
}
.zhy_footer{
	width: 100%;
	text-align: right;
	margin-top: 5rem;
}

