<div ng-controller="businessCtrl">
	<wyh-newb>
	<div class="wyh_wrap">
		<div class="wyh_til">
			<span class="wyh_sw" ng-click="togglea()" ng-class={color1:bool,color2:bool}>日程事务</span>
			<span class="wyh_fp" ng-click="toggleb()" ng-class={color3:bools,color4:bools}>任务分配</span>
		</div>
		<div class="wyh_underline"></div>
		<div class="wyh_content" ng-hide="!wyh_isHide">
			<div class="wyh_date">
				<span>日期</span>
				<span>工作内容</span>
				<span>执行人</span>
			</div>
			<ul class="wyh_task" ng-repeat="item in items | orderBy:Paixu | limitTo : '3' ">
				<li>{{item.date | date:'yyyy-MM-dd'}}</li>
				<li>{{item.content}}</li>
				<li>{{item.uid}}</li>
			</ul>
		</div>
		<!--任务分配-->
		<div class="wyh_taskfp" ng-hide="wyh_isHide">
			<div class="wyh_dat">
				<span>选择日期：</span>
				<input type="date" min="2017-03-23" ng-focus="wyh_blur()"  class="wyh_tim" ng-model="wyh_dates" />
				<div class="wyh_zhuyi" ng-show="wyh_jingShi">只能提前一天发布任务</div>
				<div class="wyh_zhuyiSq">{{nows | date: 'yyyy-MM-dd'}}</div>
			</div>
			<div class="wyh_cont">
				<span>工作内容：</span>
				<textarea name="" rows="" cols="" ng-model="wyh_cont"></textarea>
			</div>
			<div class="wyh_Ren">
				<span>&nbsp;执&nbsp;行&nbsp;人：</span>
				<select ng-click="wyh_names()" class="wyh_peopl" ng-model="wyh_uid">
					<option ng-repeat="ar in arss">{{ar.username}}</option>
				</select>
			</div>
			<div class="wyh_save">
				<button class="btn btn-info sav_wyh" ng-click="wyhSave()">保存</button>
			</div>
		</div>
	</div>
	<div class="lhq-zezao" ng-show = "wyh_isShow">
		<div class="lhq-zezaobox modal-content">
			<i class="iconfont icon-guanbi" ng-click="wyh_none()"></i>
			<p>友情提示</p>
			<span>输入内容不能为空！</span>
		</div>
	</div>
	<div class="lhq-zezao" ng-show = "wyh_toShow">
		<div class="lhq-zezaobox modal-content">
			<i class="iconfont icon-guanbi" ng-click="wyh_fw()"></i>
			<p>友情提示</p>
			<span>员工没有权限访问！</span>
		</div>
	</div>
	</wyh-newb>
</div>
