<div ng-controller="enrollCtrl">
	<div class="zhj_warEn">
		<div class="zhj_head">注&#x3000;&#x3000;册</div>
		<div class="zhj_Wname">
			<span>
				用户名：
			</span>
			<input type="text"/>
		</div>
		<div class="zhj_Wname">
			<span>
				密&#x3000;码：
			</span>
			<input type="password"/>
		</div>
		<div class="zhj_Wname">
			<span>
				职&#x3000;位：
			</span>
			<input type="text"/>
		</div>
		<div class="zhj_Wname">
			<span>
				性&#x3000;别：
			</span>
			<input type="radio" name="sex"/><span>男</span>
			<input type="radio" name="sex" checked="checked"/><span>女</span>
		</div>
		<div class="zhj_Wname">
			<span>
				电子邮箱：
			</span>
			<input type="email" name="sex"/>
		</div>
		<div class="zhj_Wname">
			<span>
				手机号：
			</span>
			<input type="tel" name="sex"/>
		</div>
		<div class="zhj_Wname">
			<span>
				地&#x3000址：
			</span>
			<textarea name="tex" rows="" cols=""></textarea>
		</div>
		
		<div class="zhj_loginBar">
			<button>注册</button>
		</div>
		
		
		
		
		
	</div>
</div>
