<div lxm class="doger-box" ng-controller="firstPage">
	<div class="doger-top">
		<p>
			<img src="../img/icon.png" class="img-thumbnail" alt="" />
			<span>Username</span>
		</p>
	</div>
	<div class="doger-wrapper">
		<div class="doger-left">
			<ul>
				<li><span><i class="iconfont icon-kaoqin4"></i>在线考勤</span></li>
				<li><span><i class="iconfont icon-3333333"></i>个人通讯录</span></li>
				<li><span><i class="iconfont icon-richeng"></i>日程事务</span></li>
				<li><span><i class="iconfont icon-youxiang-shoujianxiang"></i>收件箱</span></li>
				<li><span><i class="iconfont icon-ziyuan"></i>资源申请</span></li>
				<li><span><i class="iconfont icon-touxiang"></i>个人信息</span></li>
				<li><span><i class="iconfont icon-shenqing"></i>请假申请</span></li>
				<li><span><i class="iconfont icon-zhuangxiufengge"></i>风格界面</span></li>
			</ul>
		</div>
		<div class="doger-right"></div>
	</div>
</div>