<div class="doger-box" ng-controller="firstPage">
	<lxmfrg>
		<lxmlow>
		<div class="doger-top" set-color>
			<p class="doger-title">
				<img class="img-thumbnail doger_myPhoto" alt="" />
				<a class="exit" ui-sref = "login">退出</a>
				<span class="doger_name" set-color>Username</span>
			</p>
		</div>
		<div class="doger_big_wrapper">
		<div class="doger-wrapper">	
			<div class="doger-left" set-color>
				<ul class="doger-list">
					<li set-color><span><i class="glyphicon glyphicon-home" set-color></i><div set-color>首页</div></span><div class="doger-list-opac"></div><div class="doger-list-opac-right"></div><a ui-sref = 'firstPage'></a></li>
					<li set-color><span><i class="glyphicon glyphicon-list-alt" set-color></i><div set-color>考勤信息</div></span><div class="doger-list-opac"></div><div class="doger-list-opac-right"></div><a ui-sref = '.salary'></a></li>
					<li set-color><span><i class="glyphicon glyphicon-phone" set-color></i><div set-color>个人通讯录</div></span><div class="doger-list-opac"></div><div class="doger-list-opac-right"></div><a ui-sref = '.tel'></a></li>
					<li set-color><span><i class="glyphicon glyphicon-tasks" set-color></i><div set-color>日程事务</div></span><div class="doger-list-opac"></div><div class="doger-list-opac-right"></div><a ui-sref = '.business'></a></li>
					<li set-color><span><i class="glyphicon glyphicon-envelope" set-color></i><div set-color>收件箱</div></span><div class="doger-list-opac"></div><div class="doger-list-opac-right"></div><a ui-sref = '.officebox'></a></li>
					<li set-color><span><i class="glyphicon glyphicon-th-large" set-color></i><div set-color>资源申请</div></span><div class="doger-list-opac"></div><div class="doger-list-opac-right"></div><a ui-sref = '.resource'></a></li>
					<li set-color><span><i class="glyphicon glyphicon-user" set-color></i><div set-color>个人信息</div></span><div class="doger-list-opac"></div><div class="doger-list-opac-right"></div><a ui-sref = '.personinfo'></a></li>
					<li set-color><span><i class="glyphicon glyphicon-edit" set-color></i><div set-color>请假申请</div></span><div class="doger-list-opac"></div><div class="doger-list-opac-right"></div><a ui-sref = '.vacate'></a></li>
					<li set-color><span><i class="glyphicon glyphicon-leaf" set-color></i><div set-color>风格界面</div></span><div class="doger-list-opac"></div><div class="doger-list-opac-right"></div><a ui-sref = '.styleModality'></a></li>
				</ul>
			</div>
			<!--</lxmfrg>-->
			<div class="doger-right" ui-view="content">
				<!--<ui-view>-->
				<!--<lxmfrg>-->
				<div class="doger-main">
					<p><i class="glyphicon glyphicon-list-alt"></i>在线考勤<span class="doger_data"></span></p>
					<div class="doger-time" style="display: none;">
						<img/>
						<img/>
						<img/>
						<img/>
						<img/>
						<img/>
						<img/>
						<img/>
					</div>
					<p class="doger_my_time_font"></p>
					
					<div class="doger-map">
						<p><i class="glyphicon glyphicon-map-marker"></i>当前位置</p>
						<p class="doger_my_map"></p>
						<p class="doger_my_map_nan" ng-show = "isShow">正在获取当前位置</p>
					</div>
					
					<div class="doger-work">
						<button ng-click = 'lxmtipOne()'>上午上班<tton>
						<button ng-click = 'lxmtipTwo()'>上午下班<tton><br><br><br>
						<button ng-click = 'lxmtipThree()'>下午上班<tton>
						<button ng-click = 'lxmtipFour()'>下午下班<tton>
					</div>
					
				</div>
				<!--</ui-view>-->
				<!--<ui-view>-->
					
				<!--</ui-view>-->
			</div>
			
		</div>
		</div>
		
		<div class="doger_tip" ng-show = "myShow">
			<div class="modal-content doger_tip_content">
				<i class="glyphicon glyphicon-remove-circle" ng-click = "lxmclo()"></i>
				<p class="doger_succ">签到成功</p>
				<p class="doger_erro">错误:404</p>
				<p><a ui-sref = '.salary' ng-click = "lxmclo()">立即查看</a></p>
			</div>
		</div>
		</lxmlow>
	</lxmfrg>
	
	<script>
		//时间
		setInterval(fnTime, 1000)
		fnTime();
		function fnTime() {
			var myTime = new Date();
			var iHour = myTime.getHours();
			var iMin = myTime.getMinutes();
			var iSec = myTime.getSeconds();
			var str = ''
			str = doub(iHour) + ':' + doub(iMin) + ':' + doub(iSec);
			$('.doger_my_time_font').text(str);
			for(var i = 0; i < $('.doger-time img').length; i++) {
				if(i == 2 || i == 5) {
					$('.doger-time img')[i].src = 'images/colon.JPG';
				} else {
					$('.doger-time img')[i].src = 'images/' + str.charAt(i) + '.JPG'
				}
			}
		}
		function doub(n) {
			return n < 10 ? '0' + n : '' + n
		}
		//位置
//		$(".doger-my-map").html('正在定位...');
//		function getLocation(){   
//		    if (navigator.geolocation){   
//		        navigator.geolocation.getCurrentPosition(showPosition,showError);   
//		    }else{   
//		        alert("浏览器不支持地理定位。");   
//		    }   
//		}
//		function showPosition(position){
////			$(".doger-my-map").html("纬度:"+position.coords.latitude +'，经度:'+ position.coords.longitude);
//			var latlon = position.coords.latitude+','+position.coords.longitude;
//			//baidu
//			var url = "http://api.map.baidu.com/geocoder/v2/?ak=C93b5178d7a8ebdb830b9b557abce78b&callback=renderReverse&location="+latlon+"&output=json&pois=0";
//			$.ajax({ 
//				type: "GET", 
//				dataType: "jsonp", 
//				url: url,
//				beforeSend: function(){
////					$(".doger_my_map").html('正在定位...');
//				},
//				success: function (json) { 
//					if(json.status==0){
//						$(".doger_my_map").html(json.result.formatted_address);
//					}
//				},
//				error: function (XMLHttpRequest, textStatus, errorThrown) { 
//					$(".doger_my_map").html(latlon+"地址位置获取失败"); 
//				}
//			});
//		}
//
//		function showError(error){
//			switch(error.code) {
//				case error.PERMISSION_DENIED:
//					console.log("定位失败,用户拒绝请求地理定位");
//					break;
//				case error.POSITION_UNAVAILABLE:
//					console.log("定位失败,位置信息是不可用");
//					break;
//				case error.TIMEOUT:
//					console.log("定位失败,请求获取用户位置超时");
//					break;
//				case error.UNKNOWN_ERROR:
//					console.log("定位失败,定位系统失效");
//					break;
//		    }
//		}
//
//		getLocation();

		var doger_data = new Date();
		var doger_my_data = doger_data.getFullYear()+"-"+(doger_data.getMonth()+1)+"-"+doger_data.getDate();
		$('.doger_data').text(doger_my_data)
		
	</script>
</div>







