<div ng-controller="loginCtrl">
	<div class="zhj_wrapper">
		<div class="zhj_welcome">
			Welcom login
		</div>
		<div class="zhj_loginName">
			XX公司员工管理系统
		</div>
		<div class="wraUS">
			<div class="zhj_userName">用户名：</div>
			<input type="text" class="form-control" />
		</div>
		<div class="wraUS">
			<div class="zhj_userName">职&#x3000位：</div>
		    <input type="text" class="form-control" />
		</div>
		<div class="wraUS">
			<div class="zhj_userName">密&#x3000码：</div>
			<input type="password" class="form-control" />
		</div>		
		<button class="btn btn-primary   zhj_btnbtn" zhj-login>登录</button>
	</div>
</div>
