<div ng-controller="officeboxCtrl">
	<div class="header-lhq">
    	<i class="glyphicon glyphicon-envelope"></i>
    	<span>收件箱</span>
	</div>
	<div class="border"></div>
	
	<div class="lhq-center">
		<div class="lhq-center-one">
			<span>小提示：</span>
			<span>蓝色--未读</span>
			<span>黑色--已读</span>
		</div>
		<div class="lhq-center-top">
			<p>发件人</p>
			<p>主题</p>
			<p>时间</p>
		</div>
		
		<ul class="ul-ul-lhq">
			<li ng-repeat = "q in daat" ng-click="clicking(q)">
				<div ng-class="{'lhq_blue':q.read=='false'}">
				<span>{{q.fusername}}</span>
				<span>{{q.title}}</span>
				<span>{{q.date}}</span>
				</div>
			</li>
		</ul>
	</div>
	
	<div class="lhq-footer">
		<input type="button" value="上一页" ng-click = 'top_lhq()'/>
		<input type="button" value="下一页" ng-click = 'bottom_lhq()'/>
	</div>
</div>
