<div ng-controller="officeboxCtrl">
	<div class="header-lhq">
    	<i class="iconfont icon-shoujianxiang"></i>
    	<span>收件箱</span>
	</div>
	<div class="border"></div>
	
	<div class="lhq-center">
		<div class="lhq-center-top">
			<p>发件人</p>
			<p>主题</p>
			<p>时间</p>
		</div>
		
		<ul>
			<li>
				<span></span>
				<span></span>
				<span></span>
			</li>
			<li>
				<span></span>
				<span></span>
				<span></span>
			</li>
			<li>
				<span></span>
				<span></span>
				<span></span>
			</li>
			<li>
				<span></span>
				<span></span>
				<span></span>
			</li>
			<li>
				<span></span>
				<span></span>
				<span></span>
			</li>
			<li>
				<span></span>
				<span></span>
				<span></span>
			</li>
			<li>
				<span></span>
				<span></span>
				<span></span>
			</li>
			<li>
				<span></span>
				<span></span>
				<span></span>
			</li>
		</ul>
	</div>
	
	<div class="lhq-footer">
		<input type="button" value="上一页" class="btn btn-info"/>
		<input type="button" value="下一页" class="btn btn-info"/>
	</div>
</div>
