
<div ng-controller="particularsCtrl">
	<xqq>
	<div class="header-lhq">
    	<i class="iconfont icon-shoujianxiang"></i>
    	<span>收件箱</span>
	</div>
	<div class="xq-border"></div>
	<div class="xq-top">
		<p>
			<span>发件人:</span>
			<i></i>
		</p>
		<p>
			<span>时&#x3000;间:</span>
			<i></i>
		</p>
		<p>
			<span>主&#x3000;题:</span>
			<i></i>
		</p>
		<p>
			<span>内&#x3000;容:</span>
			<i></i>
		</p>
		<input type="button" name="" id="hf" value="回复" class="xq-btnn"/>
	</div>
	
	<div class="xq-bottom" style="display: none;">
		<p>
			<span>发件人:</span>
			<input type="text" />
		</p>
		<p>
			<span>收件人:</span>
			<input type="text" />
		</p>
		<p>
			<span>内&#x3000;容:</span>
			<textarea name="" rows="" cols=""></textarea>
		</p>
		<input type="button" name="" id="" value="发送" class="xq-bottom-btn"/>
	</div>
</xqq>
</div>