
<div ng-controller="particularsCtrl">
	<div class="header-lhq">
    	<i class="glyphicon glyphicon-envelope"></i>
    	<span>收件箱</span>
	</div>
	<div class="xq-border"></div>
	<div class="xq-top">
		<p>
			<span>发件人:</span>
			<i>{{fusername}}</i>
		</p>
		<p>
			<span>时&#x3000;间:</span>
			<i>{{date}}</i>
		</p>
		<p>
			<span>主&#x3000;题:</span>
			<i>{{title}}</i>
		</p>
		<p>
			<span>内&#x3000;容:</span>
			<i>{{content}}</i>
		</p>
		<input type="button" name="" value="回复" class="xq-btnn" ng-click = 'hui()'/>
		<input type="button" name="" value="返回" class="xqq-btnn" ng-click = 'fanhui()'/>
	</div>
	
	<div class="xq-bottom" ng-show = 'lhqisShow'>
		<p>
			<span>发件人:</span>
			<input type="text" ng-model ='Sender'/>
		</p>
		<p>
			<span>收件人:</span>
			<input type="text"  ng-model='addressee'/>
		</p>
		<p>
			<span>主&#x3000;题:</span>
			<input type="text"  ng-model='titleLhq'/>
		</p>
		<p>
			<span>内&#x3000;容:</span>
			<textarea name="" rows="" cols="" ng-model = 'contentLhq'></textarea>
		</p>
		
		<input type="button" name="" id="" value="取消" class="xq-bottom-btn" ng-click = 'qv()'/>
		<input type="button" name="" id="" value="发送" class="xq-bottom-btn" ng-click = 'fa()'/>
	</div>
	<div class="lhq-zezao" ng-show="lhqShow">
		<div class="lhq-zezaobox modal-content">
			<i class="glyphicon glyphicon-remove-circle" ng-click = "xxx()"></i>
			<p>{{lhq_xiaoxi}}</p>
			<span>{{lhq_span}}</span>
		</div>
	</div>
</div>