<div ng-controller="resourceCtrl">
	<div class="zhy_wrapper">
		<!--tab面板-->
		<div class="zhy_title">
			<div class="zhy_title_left">
				<p class="zhy_p1" ng-click="toggle()" ng-class={zhy_bg1:bg1,zhy_bg2:bg1}>办公用品</p>
				<p class="zhy_p2" ng-click="toggle1()" ng-class={zhy_bg3:bg2,zhy_bg4:bg2}>福&#x3000;利</p>
			</div>
		</div>
		<div class="zhy-border"></div>
		
		
		<div class="zhy_text" ng-hide="!ZhyisHide">
			<li class="zhy_li">
				<div class="zhy_li_left">申请人：</div>
				<div class="zhy_li_right">
					<input type="text" ng-model="shenqingren" disabled="disabled"/>
				</div>
			</li>
			<li class="zhy_li">
				<div class="zhy_li_left">收件人：</div>
				<div class="zhy_li_right">
					<select ng-model="shoujianren">
						<option ng-repeat="zhya in zhydata" ng-show="zhyop">{{zhya.username}}</option>
						<option ng-repeat="zhyb in zhydata1">{{zhyb.username}}</option>
					</select>
				</div>
			</li>
			
			
			<li class="zhy_li">
				<div class="zhy_li_left">物&#x3000;资：</div>
				<div class="zhy_li_right">
					<textarea rows="0" cols="0" ng-model="wuzi"></textarea>
				</div>
			</li>
			<li class="zhy_li">
				<div class="zhy_li_left">用&#x3000;途：</div>
				<div class="zhy_li_right">
					<textarea rows="0" cols="0" ng-model="yongtu"></textarea>
				</div>
			</li>
			<div class="zhy_foot1">
				<input type="button" value="提交" class="btn-info btn btn-lg" ng-click="zhy_btn1()" />
			</div>
		</div>
		
		<div class="zhy_txt" ng-hide="ZhyisHide">
			<li class="zhy_li">
				<div class="zhy_li_left">申请人：</div>
				<div class="zhy_li_right">
					<input type="text"  ng-model="shenqingren" disabled="disabled"/>
				</div>
			</li>
			<li class="zhy_li">
				<div class="zhy_li_left">收件人：</div>
				<div class="zhy_li_right">
					<select ng-model="shoujianren">
						<!--<option ng-repeat="a in data">{{a.username}}</option>-->
						<option ng-repeat="zhyb in zhydata1">{{zhyb.username}}</option>
					</select>
				</div>
			</li>
			
			<li class="zhy_li">
				<div class="zhy_li_left">福&#x3000;利：</div>
				<div class="zhy_li_right">
					<textarea rows="0" cols="0" ng-model="wuzi"></textarea>
				</div>
			</li>
			<li class="zhy_li">
				<div class="zhy_li_left">原&#x3000;因：</div>
				<div class="zhy_li_right">
					<textarea rows="0" cols="0" ng-model="yongtu"></textarea>
				</div>
			</li>
			<div class="zhy_foot2">
				<input type="button" value="提交" class="btn-info btn btn-lg" ng-click="zhy_btn2()" />
			</div>
		</div>
		
		
		<div class="zhy_tishi" ng-show="zhy_xiaoshi">
			提交成功
		</div>
		
		<div class="lhq-zezao" ng-show = "ZhyisShow">
		<div class="lhq-zezaobox modal-content">
			<i class="glyphicon glyphicon-remove-circle"  ng-click="zhy_dis()"></i>
			<p>系统提示</p>
			<span>输入内容不能为空</span>
		</div>
	</div>
		
	<div class="lhq-zezao" ng-show = "zhy_show">
		<div class="lhq-zezaobox modal-content">
			<i class="glyphicon glyphicon-remove-circle"  ng-click="zhy_display()"></i>
			<p>系统提示</p>
			<span>您没有访问权限</span>
		</div>
	</div>
	
	<div class="lhq-zezao" ng-show = "zhy_ss">
		<div class="lhq-zezaobox modal-content">
			<i class="glyphicon glyphicon-remove-circle"  ng-click="zhy_pa()"></i>
			<p>系统提示</p>
			<span>您是Boss,不用申请</span>
		</div>
	</div>
		
		
	</div>
</div>