<div ng-controller="salaryCtrl">
	<zhj-set-div>
		<div class="zhj_header">
			<div class="zhj_check">
				<span class="glyphicon glyphicon-list-alt"></span>
				<span>在线考勤</span>
			</div>
			<div class="zhj_border"></div>
			<div class="zhj_secondLi">
				<div ng-repeat = 'a in btn'>
					<ol>
						<li>日期</li>
						<li>上午上班</li>
						<li>上午下班</li>
						<li>下午上班</li>
						<li>下午下班</li>
					</ol>
					<ul>
						<li><p>{{a.date.split('-')[0]}}</p><br><p>{{a.date.split('-')[1]}}<a>{{-a.date.split('-')[2]}}</a></p></li>
						<li><span>{{a.time1.split('-')[0]}}</span><br><span>{{a.time1.split('-')[1]}}</span></li>
						<li><span>{{a.time2.split('-')[0]}}</span><br><span>{{a.time2.split('-')[1]}}</span></li>
						<li><span>{{a.time3.split('-')[0]}}</span><br><span>{{a.time3.split('-')[1]}}</span></li>
						<li><span>{{a.time4.split('-')[0]}}</span><br><span>{{a.time4.split('-')[1]}}</span></li>
						<li style="display: none;">{{a.id}}</li>
						<div class="zhj_doger_ipt">
							<div>备注<br>内容</div>
							<textarea class="zhj_doger_why" readonly placeholder="此处填写备注内容">{{a.summary}}</textarea>
							<div class="zhj_doger_tip" ng-click = "lxmBianji($index,a.id)">{{lxmBn}}</div>
						</div>
					</ul>
				</div>
			</div>
		</div>
	</zhj-set-div>
</div>