<div ng-controller="styleModalityCtrl" class="djs-content">
	<wyh-style>
		<!-- ng-class="{'Pgl':isPgl,'Fxh':isFxh,'Zgc':isZgc,'Wsh':isWsh,'Bcl':isBcl,'Dyl':isDyl,'Meh':isMeh,'Slh':isSlh,'Hyh':isHyh,'Mhf':isMhf,'Zqs':isZqs,'Lhz':isLhz}" -->
	<div class="djs-mintitle">
		<i class="iconfont icon-zhuangxiufengge"></i><span>风格界面</span>
	</div>
	<div class="djs-border"></div> 
	<ul class="djs-bgcolor">
		<li ng-click="pingguolv()">苹果绿</li>
		<li ng-click="fanxinglan()">梵星蓝</li>
		<li ng-click="zhuguangcheng()">珠光橙</li>
		<li ng-click="wenshahong()">温莎荭</li>
		<li ng-click="bingchuanlan()">冰川蓝</li>
		<li ng-click="dianyalv()">典雅绿</li>
		<li ng-click="mingehuang()">明鹅黄</li>
		<li ng-click="shiliuhong()">石榴红</li>
		<li ng-click="husnxinghui()">幻影灰</li>
		<li ng-click="mihongfen()">霓虹粉</li>
		<li ng-click="zangqingse()">藏青色</li>
		<li ng-click="lanhuazi()">兰花紫</li>
	</ul>
	<button class="btn btn-primary djs-button" ng-click="wyh_backColor()">复原</button>
	</wyh-style>
</div>
