<div ng-controller="telCtrl">
	<div class="wyh_wrapper">
		<div>
			<i class="iconfont icon-3333333"></i>
			<span>通讯录</span>
		</div>
		<input type="button" class="btn btn-info" value="新增" wyh-new />
	</div>
	<div class="wyh_border"></div>
	<div class="wyh_search">
		<div>关键字：</div>
		<input type="text" class="form-control" />
		<input type="button" value="查询" class="btn"/>
	</div>
	<div class="wyh_center">
		<div class="wyh_titl">
			<span>姓名</span>
			<span>联系电话</span>
			<span>电子邮箱</span>
			<span>操作</span>
		</div>
		<ul class="wyh_ul1">
			<li></li>
			<li></li>
			<li></li>
			<li>
				<button class="btn btn-danger wyh_abtn">删除</button>
				<button class="btn btn-primary wyh_bbtn">编辑</button>
			</li>
		</ul>
		<ul class="wyh_ul1">
			<li></li>
			<li></li>
			<li></li>
			<li>
				<button class="btn btn-danger wyh_abtn">删除</button>
				<button class="btn btn-primary wyh_bbtn">编辑</button>
			</li>
		</ul>
		<ul class="wyh_ul1">
			<li></li>
			<li></li>
			<li></li>
			<li>
				<button class="btn btn-danger wyh_abtn">删除</button>
				<button class="btn btn-primary wyh_bbtn">编辑</button>
			</li>
		</ul>
		<ul class="wyh_ul1">
			<li></li>
			<li></li>
			<li></li>
			<li>
				<button class="btn btn-danger wyh_abtn">删除</button>
				<button class="btn btn-primary wyh_bbtn">编辑</button>
			</li>
		</ul>
		<ul class="wyh_ul1">
			<li></li>
			<li></li>
			<li></li>
			<li>
				<button class="btn btn-danger wyh_abtn">删除</button>
				<button class="btn btn-primary wyh_bbtn">编辑</button>
			</li>
		</ul>
		<ul class="wyh_ul1">
			<li></li>
			<li></li>
			<li></li>
			<li>
				<button class="btn btn-danger wyh_abtn">删除</button>
				<button class="btn btn-primary wyh_bbtn">编辑</button>
			</li>
		</ul>
	</div>
</div>
