<div ng-controller="telCtrl">
	<div class="wyh_wrapper">
		<div>
			<i class="iconfont icon-3333333"></i>
			<span>通讯录</span>
		</div>
		<input type="button" class="btn btn-info wyhadd" value="新增" ng-click="telAdd()" />
	</div>
	<div class="wyh_border"></div>
	<div class="wyh_search">
		<div>关键字：</div>
		<input type="text" class="form-control" ng-model="mainkey" />
		<input type="button" value="查询" class="btn wyh_bbt" ng-click="sousuo()" />
	</div>

	<div class="wyh_center">
		<div class="wyh_titl">
			<span>姓名</span>
			<span>联系电话</span>
			<span>电子邮箱</span>
			<span>操作</span>
		</div>
		<div class="wyh_allul">
			<ul class='wyh_ul1' ng-repeat="ddata in data">
				
				<li ng-click="xiangqing(ddata)">{{ddata.name}}</li>
				<li ng-click="xiangqing(ddata)">{{ddata.tel}}</li>
				<li ng-click="xiangqing(ddata)">{{ddata.email}}</li>
				<!--<a ui-serf=".personinfo"></a>-->
				<li>
					<button class='btn btn-danger wyh_abtn' ng-click="del(ddata.id,$index)">删除</button>
					<button class='btn btn-primary wyh_bbtn' ng-click="bianji(ddata.id)">编辑</button>
				</li>
			</ul>
		</div>
		
		<div class="djs-xiayiye">
			<input type="button" value="上一页" ng-click ='DS()'/>
			<input type="button" value="下一页" ng-click ='DX()'/>
		</div>
	</div>
	<div class="lhq-zezao" ng-show="djsShow">
		<div class="lhq-zezaobox modal-content">
			<i class="iconfont icon-guanbi" ng-click="djsGuan()"></i>
			<p>亲~您没有访问权限</p>
		</div>
	</div>
</div>