<div ng-controller="vacateCtrl">
	<div class="zhy_wra">
		<div class="zhy_tlt">
			请假申请：(提前三天申请)
		</div>
		
		<div class="zhy_content">
			<li class="zhy_content_li">
				<div class="zhy_content_li_l">申请人：</div>
				<div class="zhy_content_li_r">
					<input type="text" />
				</div>
				
			</li>
			<li class="zhy_content_li">
				<div class="zhy_content_li_l">收件人：</div>
				<div class="zhy_content_li_r">
					<input type="text" />
				</div>
				
			</li>
			<li class="zhy_content_li">
				<div class="zhy_content_li_l">缘&#x3000;由：</div>
				<div class="zhy_content_li_r">
					<textarea rows="0" cols="0"></textarea>
				</div>
			</li>
			
			<li class="zhy_content_li">
				<div class="zhy_content_li_l">请假日期：</div>
				<div class="zhy_content_li_r">
					从<input type="text" class="zhy_1" />至<input type="text" />
					<!--{{date:"yyyy年MM月dd日"}}-->
				</div>
			</li>
			
		</div>
		
		<div class="zhy_footer">
			<input type="button" value="提交" class="btn-info btn btn-lg" />
		</div>
		
		
		
	</div>
	
	
</div>
