<div ng-controller="vacateCtrl">
	<div class="zhy_wra">
		<div class="zhy_tlt">
			请假申请：(提前三天申请)
		</div>
		
		<div class="zhy_content">
			<li class="zhy_content_li">
				<div class="zhy_content_li_l">申请人：</div>
				<div class="zhy_content_li_r">
					<input type="text" ng-model="zhy_sqr" disabled="disabled" />
				</div>
				
			</li>
			<li class="zhy_content_li">
				<div class="zhy_content_li_l">收件人：</div>
				<div class="zhy_content_li_r">
					<select ng-model="zhy_sjr">
						<option ng-repeat="zhypeo in zhylist" ng-hide="zhy_hihi">{{zhypeo.username}}</option>
						<option ng-repeat="zhypeo1 in zhylist1">{{zhypeo1.username}}</option>
					</select>
				</div>
				
			</li>
			<li class="zhy_content_li">
				<div class="zhy_content_li_l">缘&#x3000;由：</div>
				<div class="zhy_content_li_r">
					<textarea rows="0" cols="0"  ng-model="zhy_yy"></textarea>
				</div>
			</li>
			
			<li class="zhy_content_li">
				<div class="zhy_content_li_l">请假日期：</div>
				<div class="zhy_content_li_r">
					从<input type="date" ng-model="zhy_nnn" min="{{zhybig}}"/>至<input type="date" ng-model="zhy_nnn1" min="{{zhybig}}" />
					<!--{{date:"yyyy年MM月dd日"}}-->
				</div>
			</li>
			
			<div class="zhy_footer">
				<input type="button" value="提交" ng-click="zhy_sub()" class="btn-info btn btn-lg" />
			</div>
		</div>
		
		<div class="zhy_sussesss" ng-show="zhy_off">
			提交成功
		</div>
		
		<div class="lhq-zezao" ng-show = "zhy_isShow">
		<div class="lhq-zezaobox modal-content">
			<i class="glyphicon glyphicon-remove-circle"  ng-click="zhy_none()"></i>
			<p>系统提示</p>
			<span>输入内容不能为空</span>
		</div>
	</div>
	
	<div class="lhq-zezao" ng-show = "zhy_mm">
		<div class="lhq-zezaobox modal-content">
			<i class="glyphicon glyphicon-remove-circle"  ng-click="zhy_href()"></i>
			<p>系统提示</p>
			<span>您是Boss,不用申请</span>
		</div>
	</div>
	
	<div class="lhq-zezao" ng-show = "zhy_tt">
		<div class="lhq-zezaobox modal-content">
			<i class="glyphicon glyphicon-remove-circle"  ng-click="zhy_xiao()"></i>
			<p>系统提示</p>
			<span>您的日期格式不对</span>
		</div>
	</div>
	</div>
</div>
